{% extends 'base.html.twig' %}
{% block title %} {{ title }}{% endblock %}
  {% block body %}
      <h1>{{ title | upper }}</h1>
      <p>Almost all the crises we have come from joining an aspect of the ego that no longer functions as the person we
          think we are.</p>
      <p>I'll explain it better with an example; imagine that you lose a job that made you feel like a very important
          person, your niece leaves you, you retire, you get sick with depression or there are some very big changes in
          your life. The stronger you identify with the ideas of who you think you are, the more likely you are to fall
          into a crisis. The deeper that identification is, the harder it is to get out of that state.</p>
      <p>If you want to achieve a state of happiness, you have to see beyond your ego and the internal dialogue. Make a
          decision to give up the need for control, the need to be approved, and the need to judge. Those are the three
          things that the ego does all the time. Control, Approval, Judgement. It is very important to be aware of them
          every time they arise.</p>
      <blockquote>It is very easy to fall into the trap of enjoying a yoga class, turning it into physical Yoga only to
          feed the ego.
      </blockquote>
      <p>In the philosophy of yoga, the ego is considered an obstacle as long as it is in charge of our thoughts,
          instead of being used for the service of the soul and the Divine. An important thing to know is that "the EGO
          is not combated, the EGO is exposed", and that the best place to see it reflected is in the YOGA MAT. In our
          case...the PADDLE BOARD!</p>
  {% endblock %}